<!-- <h1>Article</h1>
<p>
  <%= link_to 'create new article', new_article_path %>
</p>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @article.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><%= link_to 'Show', article_path(article) %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Delete', article_path(article), method: :delete, data:{confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>

</table> -->
  <h1 class="text-center mt-4">List all Articles</h1>
  <div class="container">
    <% @article.each do |article| %>
      <div class="row justify-content-md-center ">
        <div class="col-8 mt-4">
          <div class="card text-center shadow p-3 mb-5 bg-white rounded">
            <div class="card-header">
              by vishal patidar!
            </div>
            <div class="card-body">
              <h5 class="card-title text-green"><%= link_to article.title,article_path(article),class:"text-success" %></h5>
              <p class="card-text"><%= article.description %>.</p>
              <div class="container">
                <%= link_to 'Show', article_path(article),class:"btn btn-outline-success" %>
                <%= link_to 'Edit', edit_article_path(article), class:"btn btn-outline-primary" %>
                <%= link_to 'Delete', article_path(article),class:"btn btn-outline-danger", method: :delete, data:{confirm: "Are you sure?"} %>
              </div>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
